<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>142146927244-4ne0tp8nl21nojghdjqsqo5rrps2pg5n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.142146927244-4ne0tp8nl21nojghdjqsqo5rrps2pg5n</string>
	<key>API_KEY</key>
	<string>AIzaSyAjvAFGmysZ9-F1YV-8aeQugclRBXF3gos</string>
	<key>GCM_SENDER_ID</key>
	<string>142146927244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.batzlov.easy-finance</string>
	<key>PROJECT_ID</key>
	<string>easy-finance-138e8</string>
	<key>STORAGE_BUCKET</key>
	<string>easy-finance-138e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142146927244:ios:950ec9c82adf4cbd8e19a9</string>
	<key>DATABASE_URL</key>
	<string>https://easy-finance-138e8.firebaseio.com</string>
</dict>
</plist>